body {
    background-color: #FFEBEE
}

.card {
    width: 400px;
    border: none;
    border-radius: 14px !important;
    box-shadow:0 20px 50px rgba(59, 43, 91, 0.7);;
}


.card:hover{
    transform: scale(1.05);
  transition: transform 300ms
}

.area1 {
    background-color: #b5b2f1;
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
    padding-top: 83px !important
}

.image {
    top: -62px;
    position: relative
}

.image img {
    box-shadow: 5px 6px 6px 2px #e9ecef
}

.area2 {
    background-color: #fff;
    border-bottom-left-radius: 14px !important;
    border-bottom-right-radius: 14px !important
}

.name {
    font-size: 25px;
    font-weight: 650
}

.information {
    color: #9FA8DA;
    font-weight: 500;
    font-size: 16px
}

.list-icons {
    display: inline-flex;
    color: #C5CAE9
}

.list-icons li {
    list-style: none;
    padding: 12px;
    border-radius: 10px;
    width: 49px;
    margin-right: 10px
}

.list-icons li i {
    font-size: 17px;
    color: #fff
}


.timeline-body{
    margin-left: 20px;
}

.username{
    margin-left: 15px;
}

.back-to-main-page{
    text-decoration: none;
    color: blue;
    cursor: pointer;
    margin-left: 20px;
}

.close-btn{
    margin-left: 20px;
}