<div class="container mt-5 d-flex justify-content-center">
    <div class="card rounded">
        <div class=" d-block justify-content-center">
            <div class="area1 p-3 py-5"> </div>
            <div class="area2 p- text-center px-3">
                <div class="image mr-3"> <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                        class="rounded-circle" width="100" />
                    <h4 class=" name mt-3 ">{{arrDetailsById.title}}</h4>
                    <p class="information mt-3 text-justify">
                        {{this.arrDetailsById.body}}
                    </p>
                </div>
                <div>
                </div>
                <button class="btn btn-primary mb-3 btn-rounded waves-effect w-md waves-light"
                    (click)="onClickComments()">{{ !isViewComments?"View":"Close"}} Comments</button>

            </div>
        </div>

        <div *ngIf="isViewComments">
            <div *ngFor="let items of arrComments" class="timeline-body">
                <div class="timeline-header border-bottom">
                    <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                            class="rounded-circle" width="40" alt=""></span>
                    <span class="username"><b>{{items.name}}</b></span><br>
                    <span><small style="font-style: italic;">{{items.email}}</small></span>
                </div>
                <div class="timeline-content border-bottom">
                    <p>{{items.body}}</p>
                </div>
            </div>
            <button class="btn btn-primary mt-2 mb-3 btn-rounded waves-effect w-md waves-light close-btn"
                (click)="onClickComments()">Close Comments</button>

            <a class="back-to-main-page" routerLink="/blog/home-page">Go back to
                home page</a>
        </div>



    </div>

</div>