<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-4" *ngFor="let items of viewArray">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img
                                src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <!-- <h4>Freddie J. Plourde</h4> -->
                            <p class="text-muted">
                                {{items.title | slice:0:25 }}{{ items.title.length > 25 ? '...' : ''}}
                            </p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                    class="tooltips" href="" data-original-title="Facebook"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                    class="tooltips" href="" data-original-title="Twitter"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                    class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                            </li>
                        </ul>

                        <div class="mt-4">
                            <div class="row">
                                <div class="col-md-12">
                                    {{items.body | slice:0:50 }}{{ items.body.length > 50 ? '...' : ''}}
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light"
                            (click)="onClickSeeMore(items.id)">See
                            More</button>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <!-- end row -->
            <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <ul class="pagination pagination-split mt-0 float-right">
                            <li class="page-item" [ngStyle]="{'pointer-events': page ===1 ? 'none': 'auto'}">
                                <a class="page-link" (click)="loadPrevious()" aria-label="Previous"><span
                                        aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span></a>
                            </li>
                            <div *ngFor="let item of [].constructor(totalItems); let i = index">
                                <li class="page-item" style="cursor:pointer" [ngClass]="{'active': page === i + 1}"><a
                                        class="page-link" (click)="loadNewContent(i+1)">{{i+1}}</a></li>
                            </div>
                            <li class="page-item" [ngStyle]="{'pointer-events': page ===totalItems ? 'none': 'auto'}"><a
                                    class="page-link" (click)="loadNext()" aria-label="Next"><span
                                        aria-hidden="true">»</span>
                                    <span class="sr-only">Next</span></a></li>
                        </ul>
                        <!-- <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination> -->
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- container -->
    </div>
</div>